.disk {
  --selectedBgColor: rgb(42, 98, 217);
  .preview {
    background-color: #f5f6f7;
    border-radius: 4px;
    overflow-y: scroll;
    .fileInfo {
      display: flex;
      align-items: center;
      padding: 8px 40px 8px 16px;
      &.selected {
        background-color: var(--selectedBgColor);
        color: white;
      }
    }
    .folderIcon {
      width: 24px;
      height: 24px;
      overflow: hidden;
    }
  }
}
